<div class="container">

      <div class="back-arrow">
        <%= link_to profile_home_path, id: "icone-arrow" do %>
          <i class="iconify" data-icon="akar-icons:arrow-left"></i>
         <% end %>
      </div>

      <div class="profile-info">
        <h1>Modifier ma photo de profil</h1>
        <br>
        <br>
        <div class ="icone-profile">
            <%= link_to avatar_path, id: "icone-arrow" do %>
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, height: 120, width: 120, crop: :fill, class: "rounded-circle" %>
              <% else %>
                <%= image_tag "https://eu.ui-avatars.com/api//?name=#{current_user.first_name}+#{current_user.last_name}&background=06C4BE&color=00586B",  height: 120, width: 120, crop: :fill, class: "rounded-circle" %>
              <% end %>
            <% end %>
        </div>
      </div>


<br>
<br>




        <div class="form-input-with">
          <%= form_with url: update_avatar_path, method: :patch do |f| %>
            <%= f.file_field :photo %>
            <br>
            <br>
            <br>
            <div class="form-action-with">
              <%= f.submit "Valider", class:"green-btn" %>
            </div>
          <% end %>
        </div>




    <%# <div>
      <p>Pas satisfait? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</div>
