<div class="container">

      <div class="back-arrow">
        <%= link_to profile_home_path, id: "icone-arrow" do %>
              <i class="iconify" data-icon="akar-icons:arrow-left"></i>
            <% end %>
      </div>

      <div class="profile-info">
        <h1>Mes informations bancaires</h1>
        <div class ="icone-profile">
          <span class="iconify" data-icon="akar-icons:wallet"></span>
        </div>
        <%# <h2>Edit <%= resource_name.to_s.humanize %></h2>
        <div class="user-name">
          <%= current_user.first_name %>
          <%= current_user.last_name %>
        </div>
      </div>

      <div class="iban-update">
        <div class="form-input-with">
          <%= form_with url: profile_bank_path, method: :patch do |f| %>
            <%= f.label :query, "Nom de votre banque:" %>
          <div class="form-with-control-empty">
            <%= f.text_field :bank_name %>
          </div>
            <%= f.label :query, "Votre IBAN:" %>
          <div class="form-with-control-empty">
            <%= f.text_field :insert_iban, required: 'required'%>
          </div>

        <br>
        <br>
        <br>
            <div class="form-action-with">
              <button class="green-btn submit-iban">Valider</button>
              <%= render "shared/modal_confirmation", f: f, consumption: @consumption %>
          <% end %>
          </div>
                        <% if current_user.errors[:iban].any? %>
                          <% current_user.errors[:iban].each do %>
                            <%= "Merci de renseigner un IBAN valide" %>
                          <% end %>
                        <% end %>
        </div>


      </div>

  <script type="text/javascript" charset="utf-8">
      let elements = document.querySelector(".submit-iban")
      console.log(elements)
      elements.addEventListener("click", (event) => {
          event.preventDefault()
          showModal()
      })

      let showModal = () => {
          $('#confirmationModal').modal('toggle')
      }
  </script>

    <%# <div>
      <p>Pas satisfait? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</div>
