<div class="container-simulation-form">
  <%= simple_form_for(@simulation) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :quantity,
                  required: true,
                  label: false,
                  placeholder: "Nombre de paquets fumés par semaine",
                  input_html: {class: "form-control-simulation"}%>
      <%= f.association :cigarette,
                        label_method: :brand,
                        value_method: :id,
                        include_blank: false,
                        prompt: "Marque de vos cigarettes"
                   %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Suivant", class: "green-btn" %>
    </div>
  <% end %>
</div>

