<div class="navbar">

  <div class="menu">

    <span class="iconify" data-icon="ant-design:home-outlined"></span>
    <p><%= link_to "Home", dashboard_path, class: "text-decoration-none" %></p>
  </div>

  <div class="menu">
    <span class="iconify" data-icon="ant-design:heart-filled"></span>
    <p><%= link_to "Santé", dashboard_health_path, class: "text-decoration-none" %></p>
  </div>

  <div class="menu">
    <span class="iconify" data-icon="arcticons:money-manager"></span>
    <p><%= link_to "Cagnotte", dashboard_pot_path, class: "text-decoration-none" %></p>
  </div>

  <div class="menu">
    <span class="iconify" data-icon="twemoji:flexed-biceps"></span>
    <p><%= link_to "Motivation", dashboard_motivation_path, class: "text-decoration-none" %></p>
  </div>

  <div class="menu">
    <span class="iconify" data-icon="carbon:user-avatar"></span>
    <p><%= link_to "Profil", dashboard_motivation_path, class: "text-decoration-none" %></p>
  </div>
</div>
