<div class="navbar">

  <%= link_to dashboard_path do %>
  <div class="menu">
    <span class="iconify
    <%= 'active' if current_page?(dashboard_path) %>"
     data-icon="ant-design:home-outlined">
     </span>
    <p>Home</p>
  </div>
  <% end %>

  <% if current_user.usage_days >= 3650 %>
    <%= link_to dashboard_health_path(anchor: "10ans") do %>
      <div class="menu">
        <span class="iconify
        <%= 'active' if current_page?(dashboard_health_path) %>"
        data-icon="ant-design:heart-filled"></span>
        <p>Santé</p>
      </div>
    <% end %>

  <% elsif 1825 <= current_user.usage_days %>
    <%= link_to dashboard_health_path(anchor: "5ans") do %>
      <div class="menu">
        <span class="iconify
        <%= 'active' if current_page?(dashboard_health_path) %>"
        data-icon="ant-design:heart-filled"></span>
        <p>Santé</p>
      </div>
    <% end %>

  <% elsif 365 <= current_user.usage_days %>
    <%= link_to dashboard_health_path(anchor: "1an") do %>
      <div class="menu">
        <span class="iconify
        <%= 'active' if current_page?(dashboard_health_path) %>"
        data-icon="ant-design:heart-filled"></span>
        <p>Santé</p>
      </div>
    <% end %>

  <% elsif 90 <= current_user.usage_days %>
    <%= link_to dashboard_health_path(anchor: "90jours") do %>
      <div class="menu">
        <span class="iconify
        <%= 'active' if current_page?(dashboard_health_path) %>"
        data-icon="ant-design:heart-filled"></span>
        <p>Santé</p>
      </div>
    <% end %>

  <% elsif 60 <= current_user.usage_days %>
    <%= link_to dashboard_health_path(anchor: "60jours") do %>
      <div class="menu">
        <span class="iconify
        <%= 'active' if current_page?(dashboard_health_path) %>"
        data-icon="ant-design:heart-filled"></span>
        <p>Santé</p>
      </div>
    <% end %>

  <% elsif 30 <= current_user.usage_days %>
    <%= link_to dashboard_health_path(anchor: "30jours") do %>
      <div class="menu">
        <span class="iconify
        <%= 'active' if current_page?(dashboard_health_path) %>"
        data-icon="ant-design:heart-filled"></span>
        <p>Santé</p>
      </div>
    <% end %>

  <% elsif 14 <= current_user.usage_days %>
    <%= link_to dashboard_health_path(anchor: "14jours") do %>
      <div class="menu">
        <span class="iconify
        <%= 'active' if current_page?(dashboard_health_path) %>"
        data-icon="ant-design:heart-filled"></span>
        <p>Santé</p>
      </div>
    <% end %>

  <% elsif 7 <= current_user.usage_days %>
    <%= link_to dashboard_health_path(anchor: "7jours") do %>
      <div class="menu">
        <span class="iconify
        <%= 'active' if current_page?(dashboard_health_path) %>"
        data-icon="ant-design:heart-filled"></span>
        <p>Santé</p>
      </div>
    <% end %>

  <% elsif 3 <= current_user.usage_days %>
    <%= link_to dashboard_health_path(anchor: "3jours") do %>
      <div class="menu">
        <span class="iconify
        <%= 'active' if current_page?(dashboard_health_path) %>"
        data-icon="ant-design:heart-filled"></span>
        <p>Santé</p>
      </div>
    <% end %>

  <% elsif 2 <= current_user.usage_days %>
    <%= link_to dashboard_health_path(anchor: "2jours") do %>
      <div class="menu">
        <span class="iconify
        <%= 'active' if current_page?(dashboard_health_path) %>"
        data-icon="ant-design:heart-filled"></span>
        <p>Santé</p>
      </div>
    <% end %>

  <% elsif current_user.usage_days < 2  %>
    <%= link_to dashboard_health_path(anchor: "1jour") do %>
      <div class="menu">
        <span class="iconify
        <%= 'active' if current_page?(dashboard_health_path) %>"
        data-icon="ant-design:heart-filled"></span>
        <p>Santé</p>
      </div>
    <% end %>

  <% end %>


  <%= link_to dashboard_pot_path do %>
  <div class="menu">
    <span class="iconify
    <%= 'active' if current_page?(dashboard_pot_path) %>"
    data-icon="clarity:piggy-bank-solid" data-flip="horizontal"></span>
    <p>Cagnotte</p>
  </div>
  <% end %>

  <%= link_to dashboard_motivation_path do %>
  <div class="menu">
    <span class="iconify
    <%= 'active' if current_page?(dashboard_motivation_path) %>"
    data-icon="emojione-monotone:flexed-biceps"></span>
    <p>Motivation</p>
  </div>
  <% end %>

  <%= link_to profile_home_path do %>
    <div class="menu">
      <span class="iconify
      <%= 'active' if (current_page?(profile_home_path))%>"
      data-icon="carbon:user-avatar"></span>
      <p>Profil</p>
    </div>
  <% end %>
</div>
