<div class="navbar">

  <%= link_to dashboard_path do %>
  <div class="menu">
    <span class="iconify
    <%= 'active' if current_page?(dashboard_path) %>"
     data-icon="ant-design:home-outlined">
     </span>
    <p>Home</p>
  </div>
  <% end %>

  <%= link_to dashboard_health_path do %>
  <div class="menu">
    <span class="iconify
    <%= 'active' if current_page?(dashboard_health_path) %>"
    data-icon="ant-design:heart-filled"></span>
    <p>Santé</p>
  </div>
  <% end %>

  <%= link_to dashboard_pot_path do %>
  <div class="menu">
    <span class="iconify
    <%= 'active' if current_page?(dashboard_pot_path) %>"
    data-icon="clarity:piggy-bank-solid" data-flip="horizontal"></span>
    <p>Cagnotte</p>
  </div>
  <% end %>

  <%= link_to dashboard_motivation_path do %>
  <div class="menu">
    <span class="iconify
    <%= 'active' if current_page?(dashboard_motivation_path) %>"
    data-icon="emojione-monotone:flexed-biceps"></span>
    <p>Motivation</p>
  </div>
  <% end %>

  <%= link_to profile_home_path do %>
    <div class="menu">
      <span class="iconify
      <%= 'active' if (current_page?(profile_home_path))%>"
      data-icon="carbon:user-avatar"></span>
      <p>Profil</p>
    </div>
  <% end %>
</div>
