<div class="container">
   <div class="back-arrow">
      <%= link_to 'Back', onclick: "window.history.back();", id: "icone-arrow" do %>
        <i class="iconify" data-icon="akar-icons:arrow-left"></i>
      <% end %>
    </div>


        <div class="my-inscription-h1" >
          <h1>Connexion</h1>
        </div>

        <div class="my-profile-p" >
          <p>Connectez-vous et voyez l'évolution de votre cagnotte   💸</p>
        </div>

        <div class ="icone-profile" style="text-align: center;">
          <span class="iconify"><%= image_tag("Logo.png", style: {height: ": 120px"})%></span>
        </div>


          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs sign-in">
              <%= f.input :email,
                          label: "Email",
                          required: false,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          label: "Mot de passe",
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
                          <br>
              <%= f.input :remember_me,
                          label: "Se souvenir de moi",
                          as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Se connecter", class: "green-btn" %>
            </div>
          <% end %>
<br>
<br>
          <div class="already-member">

            <%=render "devise/shared/links"%>
          </div>
</div>
