  <div class="header-dashboard">
    <div class="header-dashboard-info">
      <h2> <%= current_user.first_name %></h2>
      <div class ="icone-profile-dash">
            <%= link_to profile_home_path, id: "icone-arrow" do %>
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, height: 90, width: 90, crop: :fill, class: "rounded-circle" %>
              <% else %>
                <%= image_tag "https://eu.ui-avatars.com/api//?name=#{current_user.first_name}+#{current_user.last_name}&background=06C4BE&color=00586B", height: 90, width: 90, crop: :fill, class: "rounded-circle" %>
              <% end %>
            <% end %>
      </div>
      <p><%=@time.strftime("%d/%m/%Y") %></p>
      <%# <%= @time.strftime("%d of %B, %Y") %>
      <p><strong>Bravo !</strong> plus que <strong id="day"> <%= current_user.objective_duration %></strong> jours avant votre <strong><%= current_user.objective_title %></strong> </p>
    </div>
  </div>

  <div class="card-recap">
    <h2><%= current_user.objective_title  %></h2>
    <p id="days-left">J-<%= current_user.objective_duration %></p>

    <div class="pot-growth">

      <div class="actual">
        <p id="actual-pot"><%= current_user.pot %>€</p>
        <p>dans ma cagnotte</p>
      </div>

      <div class="progression">
        <progress id="progress-bar" value="<%= current_user.pot %>" max="<%= current_user.objective_amount %>"></progress>
      </div>

      <div class="final">
        <p id="final-pot"><%= current_user.objective_amount %>€</p>
        <p>montant final</p>
      </div>
    </div>
  </div>
  <!-- Modals -->
  <%= render "shared/modal_iban" %>
  <div class="cards">
    <% if !current_user.iban.nil? %>
      <%= link_to dashboard_pot_path, class: 'card-dashboard text-decoration-none' do %>
          <div class="icon-bg">
            <span class="iconify" data-icon="arcticons:money-manager"></span>
          </div>
          <p class="text-decoration-none">Ma cagnotte</p>
      <% end %>
    <% else %>
      <div class="card-dashboard" data-toggle="modal" data-target="#exampleModalCenter">
        <div class="icon-bg">
          <span class="iconify" data-icon="arcticons:money-manager"></span>
        </div>
        <p class="text-decoration-none">Ma cagnotte</p>
      </div>
      <% end %>

    <div class="card-dashboard">
      <div class="icon-bg">
      <span class="iconify" data-icon="ph:heart-thin"></span>
      </div>
      <p><%= link_to "Suivi santé", dashboard_health_path, class: "text-decoration-none"%></p>
    </div>

    <div class="card-dashboard">
      <div class="icon-bg">
        <span class="iconify" id="muscle" data-icon="emojione-monotone:flexed-biceps"></span>
      </div>
      <p><%= link_to "Motivation", dashboard_motivation_path, class: "text-decoration-none"%></p>
    </div>

    <div class="card-dashboard">
      <div class="icon-bg">
        <span class="iconify" data-icon="iwwa:consumption-o"></span>
      </div>
      <p><%= link_to "Renseigner ma conso", new_transaction_path, class: "text-decoration-none"%></p>
    </div>

  </div>
