<div class="container-header">
  <div class= "pot-header">
    <div class="user-info">
     <div class ="icone-profile-dash">
        <%= link_to profile_home_path, id: "icone-arrow" do %>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, height: 60, width: 60, crop: :fill, class: "rounded-circle" %>
          <% else %>
            <%= image_tag "https://eu.ui-avatars.com/api//?name=#{current_user.first_name}+#{current_user.last_name}&background=06C4BE&color=00586B", height: 60, width: 60, crop: :fill, class: "rounded-circle" %>
          <% end %>
        <% end %>
      </div>
        <h2><%= current_user.first_name %></h2>
    </div>

    <div>
      <%= link_to recover_my_pot_path do %>
        <%= image_tag "emojione-monotone_money-with-wings.png" %>
      <% end %>
    </div>

  </div>

  <div class="pot-card">
    <h1>Ma Cagnotte</h1>

    <div id="pie-chart">
      <%= pie_chart({"acquis"=>current_user.pot, "montant restant"=>current_user.objective_amount - current_user.pot}, colors: ["#FFDCF7", "#06C4BE"])%>
    </div>

    <div>
      <h2><strong><%= current_user.pot%>€</strong><p>collectés sur<p><strong><%= current_user.objective_amount %>€</strong></h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="savings-card">
    <h2>Mes économies <%= image_tag "lucide_cigarette-off.png", class: "cigarette" %></h2>
    <div class="wrapper">
      <div class="item1"> <h3> <%= current_user.total_packs_number %> <p>paquets</p></h3></div>
      <div class="item2"><h3><%= current_user.total_cigarettes %><p>cigarettes</p></h3></div>
      <div class="item3"><h3>J <%= current_user.usage_days %><p> sans fumer</p></h3></div>
      <div class="item4"><h3><%= current_user.objective_title %> J -<%= current_user.objective_duration %></h3></div>
    </div>
  </div>

  <div class="line-chart">
    <h2>Mes dernières transactions</h2>
    <%= line_chart(@all_transactions, colors: ["#06C4BE", "#FFDCF7"]) %>
  </div>
 </div>
