<div class="conso-container">
  <div class="header-pink">
    <h1 class= "consommation-title">Consommation</h1>
  </div>

  <div class="cig-img">
    <%= image_tag "cigarette.png" %>
  </div>

  <p class="conso-asking">Quelle est votre consommation cette semaine?</p>

 <div class="container-simulation-form">
    <%= simple_form_for(@transaction) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :packs_number,
                  required: true,
                  label: false,
                  placeholder: "Nombre de paquets fumés cette semaine",
                  input_html: {class: "form-control-simulation"}%>
    </div>

      <div class="form-actions">
        <%= f.button :submit, "Enregistrer ma conso", class: "green-btn" %>
      </div>
    <% end %>
  </div>
</div>
