<!DOCTYPE html>
<html>
  <head>
    <title>Nocig</title>
<!--    <meta name="viewport" content="width=device-width,initial-scale=1">-->
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no; viewport-fit=cover">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100;300;400;500&family=Space+Mono&display=swap" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!--    pwa links-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <%= render 'shared/navbar' if current_page?(dashboard_path)%>
    <%= render 'shared/navbar' if current_page?(dashboard_health_path)%>
    <%= render 'shared/navbar' if current_page?(dashboard_pot_path)%>
    <%= render 'shared/navbar' if current_page?(dashboard_motivation_path)%>
    <%= render 'shared/navbar' if current_page?(profile_home_path)%>
    <%= render 'shared/navbar' if current_page?(dashboard_new_consumption_path)%>
    <%= render 'shared/flashes' %>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <%= yield %>
  </body>
</html>
